* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content:space-around; 
  align-items: center;
  margin: 2em auto;
  max-width: 375px;
  border-radius: 25px;
  border: 1px red solid;
}

header {
  background-image: url(/images/illustration-hero.svg);
  width: 100%;
}

/* header img {
  width: 100%
} */

.order-sum {
  border: 1px green solid;
  padding: 1em ;

}